.users {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 15vw;
}

.user {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.ava {
    width: 110px;
    border-radius: 50%;
}

.but {
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}