.sidebar {
    background-color: #e3e6f1;
    grid-area: s;
    margin-left: 50px;
    height: 100%;
    padding: 10px;
}

.nav {
    padding: 4px;
    width: 130px;
    border-radius: 10px;
}

.nav:hover {
    background-color: white;
    margin: 10px;
    padding: 5px;
}

.active {
    color: darkblue;
    padding-left: 7px;
}